* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}

.wrapper {
    max-width: 700px;
    width: 100%;
    background: transparent;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
}

    .wrapper .title {
       width: 800px;
       background-color: rgb(0,0,0,6);
       margin: auto;
       color: #FFFFFF;
       padding: 10px 0px 10px 0px;
       text-align: center;
       border-radius: 15px 15px 0px 0px;
    }

    .wrapper .form {
        background-color: rgba(172, 83, 83, 0.5);
        width: 500px;
        margin: auto;
        padding: 10px;
        margin-right: 30px;
    }

        .wrapper .form .inputfield {
           margin-left: 25px;
           margin-top: 30px;
           width: 125px;
           color: #FFFFFF;
           font-size: 17px;
           font-weight: 700;
           
        }

          /*  .wrapper .form .inputfield label {
               position: relative;
               color: #E5E5E5;
               text-transform: capitalize;
               font-size: 14px;
               left: 492px;
               top:-45px;
                
            }*/
#Lname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}
#Fname
{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}
#username{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}

#pass1{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}
#pass2{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}
#email{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}
#phone{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
}

            .wrapper .form .inputfield p {
                font-size: 18px;
                color: #FFFFFF;
            }

            .wrapper .form .inputfield .check {
                width: 15px;
                height: 15px;
                position: relative;
                display: block;
                cursor: pointer;
            }

                .wrapper .form .inputfield .check input[type="checkbox"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                .wrapper .form .inputfield .check .checkmark {
                    width: 15px;
                    height: 15px;
                    border: 1px solid #fff;
                    display: block;
                    position: relative;
                }

                    .wrapper .form .inputfield .check .checkmark:before {
                        content: "";
                        position: absolute;
                        top: 1px;
                        left: 2px;
                        width: 5px;
                        height: 2px;
                        border: 2px solid;
                        border-color: transparent transparent #b73232 #b73232;
                        transform: rotate(-45deg);
                        display: none;
                    }

                .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark {
                    background: #FFFFFF;
                }

                    .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before {
                        display: block;
                    }

            .wrapper .form .inputfield .btn {
                width: 550%;
                padding: 8px 10px;
                font-size: 25px;
                border: 0px;
                background: #000000;
                color: #fff;
                cursor: pointer;
                border-radius: 3px;
                outline: none;
                size: 16px;
            }

                .wrapper .form .inputfield .btn:hover {
                    background: #d5dbd9;

                }

            .wrapper .form .inputfield:last-child {
                margin-bottom: 0;
            }

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

        .wrapper .form .inputfield label {
            margin-bottom: 5px;
        }

        .wrapper .form .inputfield.terms {
            flex-direction: row;
        }
}